<ion-content>
  <div class="container">
    <div>
      <ion-icon (click)="navigateBack()"
        name="arrow-back-outline"
        class="back-arrow"></ion-icon>
    </div>

    <div class="framer">
      <h2 class="onka">{{ currentQuestion?.categoryName || '' }}</h2>
      <h3 class="cumuscore">{{ currentLevel }}</h3>
      <div class="star">
        <div class="star-color">
          <img src="../../assets/icon/Vector.svg" alt="" />
        </div>
        <div>
          <p style="font-size: 14px">{{ userCumulativePoint }}</p>
          <!-- <p style="font-size: 12px; opacity: 0.8; margin-top: 2px;">Total: {{ overallTotalPoints }}</p> -->
        </div>
      </div>

      <div
        class="audio-size"
        (click)="stopBackgroundAudio()"
        *ngIf="isBgSoundPlaying">
        <ion-icon name="mic-circle-outline"></ion-icon>
      </div>

      <div
        class="audio-size"
        (click)="playBackgroundAudio()"
        *ngIf="!isBgSoundPlaying"
      >
        <ion-icon name="mic-off-circle-outline"></ion-icon>
      </div>

      <!-- <div class="timer">
        <img src="../../assets/icon/stopwatch 1.svg" alt="" />
        <p color="danger" *ngIf="timer <= 5">{{ timer }}s</p>
        <p *ngIf="timer > 5">{{ timer }}s</p>
      </div> -->
    </div>

    <!-- Main Loading Spinner for entire quiz -->
    <div *ngIf="!currentQuestion || (isImageLoading && currentQuestion?.picture)" class="quiz-loading-container">
      <div class="quiz-loading-content">
        <ion-spinner name="circles"></ion-spinner>
        <p>Loading Quiz...</p>
      </div>
    </div>

    <div *ngIf="currentQuestion">
      <div class="quiz-container" [class.hidden]="!questionVisible">
        <div class="quiz-card" [style]="currentQuestion.picture == null ? 'height: 250px' : ''">
          <div class="text-content">
            <div>
              <img class="first" src="../../assets/icon/Group 31.svg" alt="" />
            </div>
            <h1 *ngIf="questionIndex <= quizQuestions.length" [style]="currentQuestion.picture == null ? 'padding-bottom: 35px' : ''">
              Question {{ questionIndex || 1 }}/{{quizQuestions.length}}
            </h1>

            <!-- <img src="../../assets/icon/Rectangle 67.svg" alt="" /> -->
            <div class="question-container">
              <!-- Show loading spinner while image is loading -->
              <div class="loading-spinner" *ngIf="isImageLoading">
                <ion-spinner name="crescent"></ion-spinner>
                <p>Loading image...</p>
              </div>
              
              <!-- Question picture when not loading -->
              <div class="question-picture" *ngIf="currentQuestion.picture && !isImageLoading">
                <img
                  [src]="currentQuestion.picture"
                  alt=""
                  width="100%"
                  height="100%"
                />
              </div>
            </div>

            <p>{{ currentQuestion.question }}</p>
            <div (click)="speakText(currentQuestion.question)">
              <img
                class="volume"
                src="../../assets/icon/volume-high 1.svg"
                alt=""
              />
            </div>
            <div>
              <div class="timer2">
                <img src="../../assets/icon/stopwatch 1.svg" alt="" />
                <p color="danger" *ngIf="timer <= 5">{{ timer }}s</p>
                <p *ngIf="timer > 5">{{ timer }}s</p>
              </div>
              <img class="second" src="../../assets/icon/Group 30.svg" alt="" />
            </div>
          </div>
        </div>

        <div class="options-content">
          <div class="options-container">
            <div
              class="option"
              *ngFor="let key of getOptionKeys();"
              (click)="selectOption(key, questionIndex)"
              [class.correct]="isOptionSelected && correctOption && (key === currentQuestion.answer)"
              [class.incorrect]="isOptionSelected && !correctOption && (key === wrongAnswer)"
            >
              <input
                type="radio"
                [id]="key"
                name="quiz"
                [checked]="isOptionSelected"
                [disabled]="isOptionSelected"
                [class.correct]="isOptionSelected && correctOption && (key === currentQuestion.answer)"
              />
              <label [for]="key">{{ currentQuestion.options[key] }}</label>
            </div>
          </div>

          <div
            class="correct-answerImg"
            *ngIf="showFeedback"
            [ngClass]="{'fade-out': feedbackFadeOut}">
            <img [src]="selectedFeedbackImage" alt="" />
          </div>
          <!-- <div class="correct-answerImg" *ngIf="showFeedback">
            <img [src]="selectedFeedbackImage" alt="" />
          </div> -->
        </div>
      </div>

      <!-- Quiz Button (Hidden when an option is selected) -->
      <div class="quiz-button" *ngIf="!isOptionSelected">
        <div class="overlay-container" *ngIf="!isOptionSelected">
          <button
            *ngFor="let item of overlayItems"
            class="image-container"
            (click)="useSuggestion(item.slug)"
            [disabled]="usedSuggestions[item.slug] || userCumulativePoint < suggestionCosts[item.slug]"
            [class.low-opacity]="item.badge <= 0"
          >
            <!-- Background Image -->
            <img
              class="background-image"
              src="../../assets/icon/Rectangle 73.svg"
              alt="Background"
            />
            <!-- Overlay Content - Mapped Dynamically -->
            <div class="overlay-content">
              <img class="icon" [src]="item.icon" alt="Icon" />
              <div style="margin-top: 3px">
                <p class="title">{{ item.title }}</p>
              </div>
              <div style="margin-top: 10px">
                <small class="subtitle">{{ item.subtitle }}</small>
              </div>
              <div class="badge">{{item.badge}}</div>
            </div>
          </button>
        </div>
      </div>

      <ion-modal
        #modal
        trigger="open-modal"
        [isOpen]="modalOpen"
        [initialBreakpoint]="answeredQuestions.size === quizQuestions.length ? 0.5 : 0.33"
        [breakpoints]="answeredQuestions.size === quizQuestions.length ? [0.5] : [0.33]"
        [backdropDismiss]="true"
        [backdropBreakpoint]="0.5"
        (ionModalDidDismiss)="handleModalDismiss()"
        *ngIf="isOptionSelected">
        <ng-template>
          <ion-content
            [ngClass]="{'correct-answer': selectedAnswer === currentQuestion.answer,
        'wrong-answer': selectedAnswer && selectedAnswer !== currentQuestion.answer}">
            <div class="new-content" *ngIf="isOptionSelected">
              <div class="new-content">
                <h3 class="explain">Explanation</h3>
                <p class="paragram" *ngIf="currentQuestion.fullMeaning">{{ currentQuestion.fullMeaning }}</p>
                
                <p class="paragram">{{ currentQuestion.explanation }}</p>
              </div>

              <div class="sub-content"
                *ngIf="(selectedAnswer && selectedAnswer === currentQuestion.answer) && !currentQuestion.fullMeaning">
                <img src="../../assets/icon/ekuise.svg" alt="" />
                <p>Ku ise!</p>
              </div>
              <div class="sub-content"
                *ngIf="(selectedAnswer && selectedAnswer !== currentQuestion.answer) && !currentQuestion.fullMeaning">
                <img src="../../assets/icon/kodara.svg" alt="" />
                <p>Ko dara!</p>
              </div>

              <div>
                <ion-button
                  expand="block"
                  class="create-account"
                  (click)="loadNextQuestion()"
                  *ngIf="isOptionSelected && (questionIndex !== quizQuestions.length)">
                  Next
                </ion-button>
              </div>


              <div *ngIf="answeredQuestions.size === quizQuestions.length || questionIndex === quizQuestions.length">
                <!-- <div class="new-content">
                  <h3>Level Completed!</h3>
                  <p>Your Score: {{ userCumulativePoint }} / {{ totalLevelPoints }}</p>
                </div> -->
                <ion-button
                  expand="block"
                  class="create-account"
                  *ngIf="levelCompleted"
                  (click)="goToNextLevel()">
                  <!-- Proceed to Level {{ currentQuestion.levelNumber + 1 }} -->
                  Proceed
                </ion-button>
                <ion-button
                  expand="block"
                  class="create-account"
                  *ngIf="!levelCompleted"
                  (click)="resetLevel()">
                  Retry Level
                </ion-button>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>

</ion-content>
