<ion-content>
  <div class="container-wrap">
    <div class="framer">
      <div class="quiz">
        <img src="../../assets/icon/Rectangle 42.svg" alt="" />
        <p class="quiz-text">QUIZ</p>
      </div>
      <p class="quiz-description">
        Select the category of quiz you <br />
        want to play
      </p>
    </div>
    <div class="container">
      <div class="first">
        <div (click)="levelsPage('onka')" class="quiz-card green">
          <div class="card-content">
            <h2>Onka</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('onka') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" style="margin-top: 15px" />
              <img src="../../assets/icon/Rectangle 22.svg" alt="" style="margin-top: 15px" />
            </div>
          </div>
        </div>

        <div (click)="levelsPage('eranko')" class="quiz-card orange">
          <div class="card-content">
            <h2>Eranko</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('eranko') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" />
              <img src="../../assets/icon/flat.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="first">
        <div (click)="levelsPage('owe')" class="quiz-card sky">
          <div class="card-content">
            <h2>Owe</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('owe') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" style="margin-top: 15px" />
              <img src="../../assets/icon/owe.svg" alt="" style="margin-top: 15px" />
            </div>
          </div>
        </div>

        <div (click)="levelsPage('oba-ilu')" class="quiz-card light">
          <div class="card-content">
            <h2>Oba Ilu</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('oba-ilu') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" />
              <img src="../../assets/icon/obailu.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="first">
        <div (click)="levelsPage('ilu')" class="quiz-card sea">
          <div class="card-content">
            <h2>Ilu</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('ilu') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" style="margin-top: 15px" />
              <img src="../../assets/icon/ilu.svg" alt="" style="margin-top: 0px" />
            </div>
          </div>
        </div>

        <div (click)="levelsPage('eso')" class="quiz-card brown">
          <div class="card-content">
            <h2>Eso</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('eso') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" />
              <img src="../../assets/icon/flat.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="first">
        <div (click)="levelsPage('apejuwe')" class="quiz-card orange">
          <div class="card-content">
            <h2>Apejuwe</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('apejuwe') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" />
              <img src="../../assets/icon/flat.svg" alt="" />
            </div>
          </div>
        </div>
        <div (click)="levelsPage('akanlo-ede')" class="quiz-card sky">
          <div class="card-content">
            <h2>Akanlo Ede</h2>
            <div class="points">
              <ion-icon src="../../assets/icon/Vector.svg"></ion-icon>
              <span>{{ getCategoryTotalPoints('akanlo-ede') }} points</span>
            </div>
            <div class="play-section">
              <img src="../../assets/icon/Rectangle 19.svg" alt="" />
              <img src="../../assets/icon/flat.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</ion-content>
