.container {
    padding: 14px;
    width: 100%;

    .back-arrow {
        position: absolute;
        top: 61px;
        left: 30px;
        font-size: 22px;
        color: black;
        cursor: pointer;
    }


    .framer {
        color: #2E2E2E;
        text-align: center;


        h2 {
            font-size: 20px;
            font-weight: 800;
        }

    }

    ion-segment.time-filter {
        background: #F8F1E6;
        border-radius: 12px;
        padding: 11px;
        margin-bottom: 32px;
        display: flex;
        white-space: nowrap;

        ion-segment-button {
            -background: transparent;
            --background-checked: #7B462F;
            --color: #2E2E2E;
            --color-checked: #ffffff;
            --indicator-color: transparent;
            min-height: 40px;
            font-size: 16px;
            text-transform: none;
            border-radius: 8px;
            margin: -4px;
            flex: 0 0 auto;

            &::part(indicator) {
                display: none;
            }
        }
    }


    .shop-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .paragra {
        font-weight: 700;
        font-size: 20px;
        color: #505050;
        margin-bottom: 0;

        span {
            font-weight: 700;
            font-size: 20px;
            color: #C16F30;
        }
    }

    .buy {
        font-weight: 400;
        font-size: 16px;
        color: #505050;
        margin-bottom: 0;
    }


    .board-container {
        background-image: url('../../assets/icon/Rectangle\ 95.svg');
        background-position: center center; // centers horizontally & vertically
        background-repeat: no-repeat;
        background-size: cover; // or 'contain' if needed
        width: 321px;
        height: 316px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 10px;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        margin-top: 21px;
        padding-top: 10px;
    }

    .image-container {
        position: relative;
        width: 53px;
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: 2px solid #F6EBDD;
    }

    .background-image {
        display: block;
        width: 53px;
        height: auto;
        border: 2px solid #F6EBDD;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: bold;

        .icon {
            width: 17.71px;
            /* Adjust icon size */
            height: auto;
            margin-bottom: 1xpx;
        }

        .title {
            font-size: 14px;
            font-weight: bold;
            margin: -1px;
        }
    }

    /* The badge in the top-right corner */
    .badge {
        position: absolute;
        top: -8px;
        right: -9px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .badge img {
        width: 18px;
        /* Adjust icon size */
        height: 18px;
    }

    .amount {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }

    .buy-btn {
        background: #f5e1c5;
        border: none;
        font-size: 14px;
        width: 95px;
        color: #7B462F;
        font-weight: 800;
        cursor: pointer;
        height: 32px;
        border-radius: 10px;
    }



    .bundle-card {
        background-color: #fff;
        border-radius: 16px;
        width: 297px;
        // padding: 16px;
        margin: 10px auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        border: 1px solid #7B462F;
        border-radius: 20px;

    }

    .bundle-header {
        background: url('../../assets/icon/Rectangle97.svg') no-repeat center/cover;
        border-radius: 8px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: #fff;
            font-weight: bold;
            margin: 0;
        }
    }

    /* Grid Layout for the Items */
    .bundle-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns */
        gap: 16px;
        /* spacing between grid items */
        // margin-top: 16px;
        padding: 15px;
    }

    /* Each Item in the Grid */
    .bundle-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        img {
            width: 17.71px;
            height: 18px;
        }

        span {
            font-weight: 700;
            color: #C16F30;
            font-size: 14px;
        }
    }

    /* Price/Buy Button Area */
    .bundle-buy {
        background-color: #f3dfcd;
        color: #7B462F;
        font-weight: 800;
        margin: 16px auto 0;
        /* 16px top, auto left/right, 0 bottom */
        border-radius: 8px;
        cursor: pointer;
        width: 119.25px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 12px;
        margin-bottom: 13px;
    }
}