<!-- category.page.html -->
<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Category</h2>
    </div>

    <div>
      <!-- Search Bar -->
      <ion-searchbar
        placeholder="Search..."
        showCancelButton="focus"
        (ionInput)="onSearch($event)"
        class="search"
      ></ion-searchbar>

      <!-- Category List -->
      <ion-list>
        <!-- Use *ngFor to loop through category data -->
        <ion-item
          *ngFor="let cat of categories"
          (click)="openCategory(cat)"
          button
          detail
          lines="full"
        >
          <!-- Image on the left -->
          <img [src]="cat.image" alt="category icon" class="category-icon" />

          <!-- Category name -->
          <ion-label>{{ cat.name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
