<ion-content [fullscreen]="true">
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Edit Profile</h2>
    </div>

    <div class="profile-container">
      <div class="profile-image">
        <img
          [src]="profileImage || '../../assets/icon/Group 597.svg'"
          alt="Profile"
        />
        <input
          type="file"
          #fileInput
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
      </div>
      <div class="camera-icon" (click)="fileInput.click()">
        <ion-icon class="camera" name="camera"></ion-icon>
      </div>
    </div>

    <br />
    <div class="form-container">
      <div>
        <p>First Name</p>
        <input 
          class="regular-input" 
          type="text"
          [value]="firstName" 
          (input)="onFirstNameChange($event)"
          placeholder="Enter first name"
        />
      </div>

      <div>
        <p>Last Name</p>
        <input 
          class="regular-input" 
          type="text"
          [value]="lastName" 
          (input)="onLastNameChange($event)"
          placeholder="Enter last name"
        />
      </div>

      <div>
        <p>Email Address</p>
        <input 
          class="regular-input" 
          type="email"
          [value]="email" 
          readonly
          disabled
          placeholder="Email"
        />
        <!-- <p class="note">Email address cannot be changed</p> -->
      </div>

      <ion-button expand="block" class="pay-button" (click)="saveChanges()"> 
        Save Changes 
      </ion-button>
    </div>
  </div>
</ion-content>
