<ion-content>
  <div class="container-wrap">
    <div class="framer">
      <div class="general-badge">
        <img src="../../assets/icon/Rectangle 42.svg" alt="" />
        <p class="general-text">GENERAL</p>
      </div>
      <p class="general-description">
        Explore Yoruba culture and language <br />
        resources
      </p>
    </div>
    <div class="container">
      <div class="first">
        <div routerLink="animal-dictionary" class="general-card green">
          <div class="card-content">
            <h2>Animals</h2>
            <p class="card-description">Learn animals in Yoruba</p>
            <div class="icon-section">
              <ion-icon name="book-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div routerLink="yoruba-proverbs" class="general-card orange">
          <div class="card-content">
            <h2>Proverbs</h2>
            <p class="card-description">Wisdom & meanings</p>
            <div class="icon-section">
              <ion-icon name="bulb-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="first">
        <div routerLink="yoruba-songs" class="general-card sky">
          <div class="card-content">
            <h2>Songs</h2>
            <p class="card-description">Traditional melodies, songs, poems and anthems</p>
            <div class="icon-section">
              <ion-icon name="musical-notes-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div routerLink="yoruba-stories" class="general-card light">
          <div class="card-content">
            <h2>Stories</h2>
            <p class="card-description">Folklore & tales</p>
            <div class="icon-section">
              <ion-icon name="document-text-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="first">
        <div routerLink="yoruba-towns" class="general-card brown">
          <div class="card-content">
            <h2>Towns</h2>
            <p class="card-description">Cities & history</p>
            <div class="icon-section">
              <ion-icon name="location-outline"></ion-icon>
            </div>
          </div>
        </div>

        <div routerLink="yoruba-mentions" class="general-card green">
          <div class="card-content">
            <h2>Mentions</h2>
            <p class="card-description">Prominent personalities</p>
            <div class="icon-section">
              <ion-icon name="people-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</ion-content>


