<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2 class="onka">Owe</h2>
      <div class="timer">
        <img src="../../assets/icon/stopwatch 1.svg" alt="" />
        <p>30s</p>
      </div>
    </div>

    <!-- Centered Quiz Card -->
    <div class="quiz-container">
      <div class="quiz-card">
        <div class="text-content">
          <div>
            <img class="first" src="../../assets/icon/Group 31.svg" alt="" />
          </div>
          <h1>Question 3/10</h1>
          <p>Pari owe yi ?</p>
          <p class="slight">
            Kò sí ęni tí ó ma gùn <br />
            ęşin tí kò....
          </p>
          <div>
            <img
              class="volume"
              src="../../assets/icon/volume-high 1.svg"
              alt=""
            />
          </div>
          <div>
            <img class="second" src="../../assets/icon/Group 30.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- radio section -->

    <ion-list class="custom-list">
      <ion-radio-group
        [(ngModel)]="selectedOption"
        (ionChange)="onSelectionChange($event)"
      >
        <div class="radio-container">
          <ion-radio value="option1"></ion-radio>
          <div class="content">
            Kò sí ení tí ó ma gùn eṣin tí kò ní ju ìpàkó. Bí kó fẹ ju ìpàkó,
            eṣin tí ó ńgùn á je kojú.
          </div>
        </div>

        <div class="radio-container">
          <ion-radio value="option2"></ion-radio>
          <div class="content">
            Kò sí ení tí ó ma gùn eṣin tí kò Agba ki wa loja, ki ori omo tuntun
            o wo.
          </div>
        </div>

        <div class="radio-container">
          <ion-radio value="option3"></ion-radio>
          <div class="content">
            Kò sí ení tí ó ma gùn eṣin tí kò Agba ki wa loja, ki ori omo tuntun
            o wo.
          </div>
        </div>

        <div class="radio-container">
          <ion-radio value="option4"></ion-radio>
          <div class="content">
            Kò sí ení tí ó ma gùn eṣin tí kò Agba ki wa loja, ki ori omo tuntun
            o wo.
          </div>
        </div>
      </ion-radio-group>

      <!-- Result content -->
    </ion-list>
    <!-- Quiz Button (Hidden when an option is selected) -->
    <div class="quiz-button" *ngIf="!showNewContent">
      <div class="button">
        <button (click)="useSuggestion('ileke')">
          <img src="../../assets/icon/Group 38.svg" alt="" />
        </button>
        <button (click)="useSuggestion('obi')">
          <img src="../../assets/icon/Group 39.svg" alt="" />
        </button>
        <button (click)="useSuggestion('eyoOwo')">
          <img src="../../assets/icon/Group 40.svg" alt="" />
        </button>
        <button (click)="useSuggestion('ami')">
          <img src="../../assets/icon/Group 41.svg" alt="" />
        </button>
      </div>
    </div>

    <!-- New Content (Shown when an option is selected) -->
    <div class="new-content" *ngIf="showNewContent">
      <div class="sub-content">
        <img src="../../assets/icon/ekuise.svg" alt="" />
        <p>E ku ise!</p>
      </div>

      <div>
        <ion-button expand="block" class="create-account"> Next </ion-button>
      </div>

      <div class="new-content">
        <h3 class="explain">Explanation</h3>
        <p class="trans">
          <span class="translation">Translation</span>: No one rides a horse
          without moving his head, voluntarily or involuntarily.
        </p>
        <p class="trans">
          <span class="translation">Meaning</span>: Your status in life dictates
          your attitude towards your peers
        </p>
      </div>
    </div>
  </div>
</ion-content>
