<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Welcome Back</h2>
      <p>
        Sign in to Masoyinbo to continue <br />
        your adventure
      </p>
    </div>
    <form (ngSubmit)="openDashboad()">
      <div style="margin-top: 50px">
        <ion-input
          [(ngModel)]="email"
          name="email"
          label="Email Address"
          label-placement="floating"
          fill="outline"
          placeholder="Email Address"
          style="color: #505050"
        ></ion-input>
        <br />
        <ion-input 
          [(ngModel)]="password"
          name="password"
          placeholder="Password" 
          fill="outline" 
          [type]="showPassword ? 'text' : 'password'"
        >
          <ion-input-password-toggle
            (click)="togglePasswordVisibility()"
            slot="end"
            color="dark"
          ></ion-input-password-toggle>
        </ion-input>

        <p *ngIf="error" class="error-message" style="color: red; font-size: 12px;">
          {{ error }}
        </p>

        <p class="forgot-password" style="font-size: 14px; font-weight: 400">
          <span (click)="navigateToForget()">Forgot Password?</span>
        </p>
        <br />
        <ion-button
          type="submit"
          expand="block"
          class="create-account"
          [disabled]="loading"
        >
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Sign in</span>
        </ion-button>
      </div>
    </form>

    <div class="divider">
      <hr class="line" />
      <span class="divider-text">or sign in with</span>
      <hr class="line" />
    </div>

    <!-- Social Buttons Section -->
    <div class="social-buttons">
      <div class="social-button" (click)="signInWithGoogle()">
        <img src="../../assets/icon/goggle.svg " alt="" />
        <p>Google</p>
      </div>
      <div class="social-button">
        <img src="../../assets/icon/facebook 1.svg " alt="" />
        <p>Facebook</p>
      </div>
    </div>
    <p class="question">
      Don't have an account?
      <span (click)="signPage()" class="terms-link">Register</span>
    </p>
  </div>
</ion-content>
