<ion-content>
  <div>
    <div>
      <h1 class="header">Lesson</h1>
    </div>

    <div class="container">
      <div class="sub-header">
        <p class="title">Popular Lessons</p>
        <p class="view-title">View all</p>
      </div>

      <div class="scroll-container">
        <div class="lesson-wrap">
          <div class="proverb-card">
            <div
              class="proverb-wrapper"
              *ngFor="let item of lessonItem"
              [style.background-color]="item.bgColor">
              <div class="proverb-image">
                <img [src]="item.image" alt="" />
              </div>

              <div class="proverb-content">
                <h2 class="owe">{{item.name}}</h2>

                <p class="know-small">
                  {{item.hour}} hours
                  <span><img src="../../assets/icon/Ellipse 37.svg" alt=""/></span>
                  16 sessions
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div>
        <div class="sub-header">
          <p class="title">Category</p>
          <p class="view-title">View all</p>
        </div>
           <div class="scroll-container">
        <div class="lesson-wrap">
          <div class="proverb">
            <div
              class="proverb-wrap"
              *ngFor="let item of catgoryItem"
              [style.background-color]="item.bgColor"
            >
              <div class="proverb-img">
                <img [src]="item.image" alt="" />
              </div>

              <div class="proverb-content">
                <h2 class="owe">{{item.name}}</h2>

                <p class="know-smalll">
                  {{item.hour}} hours
                  <span
                    ><img src="../../assets/icon/Ellipse 37.svg" alt=""
                  /></span>
                  16 sessions
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div> -->
    </div>
  </div>
</ion-content>
