<ion-content [fullscreen]="true">
  <div class="framer">
    <div class="quiz">
      <img src="../../assets/icon/Rectangle 98.svg" alt="" />
      <div class="quiz-labels">
        <p class="quiz-text">All Levels</p>
        <p class="subtitle">Completed</p>
      </div>
    </div>
  </div>

  <div class="quiz-wrapper">
    <div class="stars">
      <img src="../../assets/icon/Group 43.svg" alt="Star" />
    </div>

    <div class="quiz-result">
      <div>
        <p class="rank">Rank</p>
        <p class="five">#5</p>
      </div>
      <div class="score-container">
        <div class="progress-circle">
          <span class="progress-text">5/10</span>
        </div>
        <p class="score-text">
          You answered 5 out <br />
          of 10 questions
        </p>
      </div>

      <p class="congratulations">
        Congratulations, you have completed this quiz
      </p>

      <p class="reward-title">Reward</p>

      <div class="star">
        <div class="star-level">
          <div class="star-color">
            <img src="../../assets/icon/Vector.svg" alt="" />
          </div>
          <p>1000 Points</p>
        </div>
      </div>
    </div>
  </div>

  <div class="share-container">
    <div class="share">
      <img src="../../assets/icon/share-from-square 1.svg" alt="" />
      <p>Share</p>
    </div>
    <div class="share">
      <img src="../../assets/icon/chart-simple 1.svg" alt="" />
      <p>Leaderboard</p>
    </div>
  </div>

  <div class="button-container">
    <ion-button (click)="openShopModal()" expand="block" class="create-account">
      Explore More
    </ion-button>
    <ion-button expand="block" class="login"> Back to Homepage </ion-button>
  </div>
</ion-content>
