<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-tab">
      <ion-icon src="../../assets/icon/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quiz">
      <ion-icon src="../../assets/icon/file-pen 1.svg"></ion-icon>
      <ion-label>Quiz</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lesson">
      <ion-icon src="../../assets/icon/book-open 2.svg"></ion-icon>
      <ion-label>Lesson</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dictionary">
      <ion-icon src="../../assets/icon/book-open 1.svg"></ion-icon>
      <ion-label>Dictionary</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="../../assets/icon/profile.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
