<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Change Password</h2>
      <p>
        Enter your current password and a new password <br />
        to update your account
      </p>
    </div>

    <form class="form-container">
      <div class="input-wrapper">
        <!-- Current Password Field -->
        <ion-input 
          [(ngModel)]="currentPassword"
          name="currentPassword"
          placeholder="Current Password" 
          fill="outline" 
          [type]="showCurrentPassword ? 'text' : 'password'"
        >
          <ion-input-password-toggle
            (click)="toggleCurrentPasswordVisibility()"
            slot="end"
            color="dark"
          ></ion-input-password-toggle>
        </ion-input>

        <br />
        
        <!-- New Password Field -->
        <ion-input 
          [(ngModel)]="password"
          name="password"
          placeholder="New Password" 
          fill="outline" 
          [type]="showPassword ? 'text' : 'password'"
          (ionInput)="checkPasswordRequirements()"
        >
          <ion-input-password-toggle
            (click)="togglePasswordVisibility()"
            slot="end"
            color="dark"
          ></ion-input-password-toggle>
        </ion-input>
        
        <!-- Password requirements feedback -->
        <div class="password-requirements">
          <div class="requirement" [ngClass]="{'completed': passwordRequirements.length}">
            <span class="radio-circle"></span>
            <label>Must contain at least six characters</label>
          </div>
          <div class="requirement" [ngClass]="{'completed': passwordRequirements.special}">
            <span class="radio-circle"></span>
            <label>Must have a special character</label>
          </div>
        </div>
        
        <br />
        <ion-input
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm New Password"
          fill="outline"
          [type]="showConfirmPassword ? 'text' : 'password'"
        >
          <ion-input-password-toggle
            (click)="toggleConfirmPasswordVisibility()"
            slot="end"
            color="dark"
          ></ion-input-password-toggle>
        </ion-input>
      </div>
    </form>

    <div class="bottom-button">
      <ion-button 
        expand="block" 
        class="create-account"
        (click)="saveChanges()"
        [disabled]="loading"
      >
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">Save Changes</span>
      </ion-button>
    </div>
  </div>
</ion-content>
