<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Change Password</h2>
      <p>
        Enter a new password to update your <br />
        password
      </p>
    </div>

    <form action="">
      <div style="margin-top: 50px">
        <ion-input placeholder="Password" fill="outline" type="password">
          <ion-input-password-toggle
            slot="end"
            color="dark"
          ></ion-input-password-toggle>
        </ion-input>
        <br />
        <ion-input
          placeholder="Confirm Password"
          fill="outline"
          type="password"
        >
          <ion-input-password-toggle
            slot="end"
            color="dark"
          ></ion-input-password-toggle>
        </ion-input>

        <br />
        <ion-button expand="block" class="create-account">
          Save Changes
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
