.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.back-arrow {
    position: absolute;
    top: 35px;
    left: 30px;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.framer {
    color: #505050;
    text-align: center;
}

.framer h2 {
    font-size: 20px;
    font-weight: 700;
}

.framer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.info-box, .success-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-box {
    background-color: #f0f8ff;
    border: 1px solid #add8e6;
}

.success-box {
    background-color: #f0fff0;
    border: 1px solid #98fb98;
}

.info-box ion-icon, .success-box ion-icon {
    font-size: 48px;
    margin-bottom: 15px;
}

.info-box ion-icon {
    color: #4682b4;
}

.success-box ion-icon {
    color: #3cb371;
}

.info-box p, .success-box p {
    font-size: 14px;
    line-height: 1.4;
}

.input-wrapper {
    margin-top: 40px;
}

ion-input {
    width: 100%;
    border-radius: 8px;
    --padding-start: 15px;
    --padding-end: 15px;
}

/* Password requirements styles */
.password-requirements {
    margin-top: 15px;
    padding: 0 15px;
}

.requirement {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #666;
}

.radio-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #666;
    margin-right: 8px;
    display: inline-block;
}

.requirement label {
    font-size: 12px;
    color: #666;
}

.requirement.completed {
    color: #4caf50;
}

.requirement.completed .radio-circle {
    background-color: #4caf50;
    border-color: #4caf50;
}

.requirement.completed label {
    color: #4caf50;
}

.bottom-button {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0;
    padding: 0 16px;
    background: white;
    /* Ensures visibility */
}

.create-account {
    --background: #7B462F;
    --color: white;
    height: 52px;
    text-transform: none;
    --border-radius: 10px;
    font-weight: 700;
    --box-shadow: none;
}