.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
}

.back-arrow {
    position: absolute;
    top: 35px;
    left: 30px;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

.framer {
    color: #505050;
    text-align: center;
}

.framer h2 {
    font-size: 20px;
    font-weight: 700;
}

.framer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.input-wrapper {
    margin-top: 40px;
}

ion-input {
    width: 100%;
    border-radius: 8px;
    --padding-start: 15px;
    --padding-end: 15px;
}

.bottom-button {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 0;
    padding: 0 16px;
    background: white;
    /* Ensures visibility */
}

.create-account {
    --background: #7B462F;
    --color: white;
    height: 52px;
    text-transform: none;
    --border-radius: 10px;
    font-weight: 700;
    --box-shadow: none;
}