<ion-content>
  <div class="container">
    <div class="score-box">
      <p class="score-text">Total Score 7/10</p>
    </div>

    <img
      src="../../assets/icon/afican.svg"
      alt="congrats-illustration"
      class="congrats-img"
    />

    <p class="congrats-text">
      Congratulation you have <br />
      completed this quiz
    </p>

    <div class="button-container">
      <ion-button expand="block" class="create-account">
        Explore More
      </ion-button>
      <ion-button expand="block" class="login"> Back to Homepage </ion-button>
    </div>
  </div>
</ion-content>
