<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Test</h2>
    </div>
    <div>
      <!-- Progress Bar + Text -->
      <div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <!-- Left Text (e.g., 4/10) -->
          <span class="progress-text"
            ><span style="color: #505050; font-size: 14px; font-weight: 900"
              >4/</span
            >10</span
          >

          <!-- Progress Bar Container -->
          <div class="progress-container">
            <!-- Adjust width here for the fill percentage -->
            <div class="progress-bar" style="width: 50%"></div>
          </div>

          <!-- Timer on the Right -->
          <div style="display: flex; gap: 5px; align-items: center">
            <img src="../../assets/icon/stopwatch 1.svg" alt="stopwatch icon" />
            <p style="color: #c23327">30s</p>
          </div>
        </div>
      </div>

      <div>
        <p class="story">
          What proverb in yoruba is for a child that lost and later find their
          way back home and later disrespect the elders in front of everyone?
        </p>
      </div>

      <ion-list class="custom-list">
        <ion-radio-group
          [(ngModel)]="selectedOption"
          (ionChange)="onSelectionChange($event)"
        >
          <div class="radio-container">
            <ion-radio value="option"></ion-radio>
            <div class="content">
              Kò sí ení tí ó ma gùn eṣin tí kò ní ju ìpàkó. Bí kó fẹ ju ìpàkó,
              eṣin tí ó ńgùn.
            </div>
          </div>
        </ion-radio-group>
      </ion-list>
    </div>
  </div>
</ion-content>
