<ion-content [fullscreen]="true">
  <div class="framer">
    <div class="quiz">
      <img src="../../assets/icon/Rectangle 98.svg" alt="" />
      <div class="quiz-labels">
        <p class="quiz-text">{{ levelObject.title }}</p>
        <p class="subtitle">Completed</p>
      </div>
    </div>
  </div>

  <div class="quiz-wrapper">
    <div class="stars">
      <img src="../../assets/icon/Rectangle 91.svg" alt="Star" />
      <img src="../../assets/icon/Rectangle 91.svg" alt="Star2" />
      <img src="../../assets/icon/Rectangle 93.svg" alt="Star3" />
    </div>

    <div class="quiz-result">
      <div class="score-container">
        <div class="progress-circle">
          <span class="progress-text"
            >{{ levelObject.userCumulativePoint }}%</span
          >
        </div>
        <p class="score-text">
          You answered {{ levelObject.totalAnswered }} <br />
          out of {{ levelObject.totalQuestions }} questions
        </p>
      </div>

      <p class="congratulations">
        Congratulations, you have completed this quiz
      </p>

      <p class="reward-title">Reward</p>

      <div class="star">
        <div class="star-level">
          <div class="star-color">
            <img src="../../assets/icon/Vector.svg" alt="" />
          </div>
          <p>{{ levelObject.userCumulativePoint }} Points</p>
        </div>
      </div>
    </div>

    <div class="button-container">
      <ion-button (click)="goToNextLevel(levelObject.quizPage, levelObject.nextLevel)"
        expand="block" class="create-account">
        Next Level
      </ion-button>
      <ion-button expand="block" class="login" (click)="goToHome()">
        Back to Homepage
      </ion-button>
    </div>
  </div>
</ion-content>
