<ion-content [fullscreen]="true">
  <div class="framer">
    <div class="quiz">
      <img src="../../assets/icon/Rectangle 98.svg" alt="" />
      <div class="quiz-labels">
        <p class="quiz-text">Level 6</p>
        <p class="subtitle">Completed</p>
      </div>
    </div>
  </div>

  <div class="quiz-wrapper">
    <div class="stars">
      <img src="../../assets/icon/Group 43.svg" alt="Star" />
    </div>

    <div class="quiz-result">
      <div class="score-container">
        <div class="progress-circle">
          <span class="progress-text">5/10</span>
        </div>
        <p class="score-text">
          You answered 5 out <br />
          of 10 questions
        </p>
      </div>

      <p class="congratulations">
        Congratulations, you have completed this quiz
      </p>

      <p class="reward-title">Reward</p>

      <div class="star">
        <div class="star-level">
          <div class="star-color">
            <img src="../../assets/icon/Vector.svg" alt="" />
          </div>
          <p>1000 Points</p>
        </div>
      </div>
    </div>

    <div class="button-container">
      <ion-button expand="block" class="create-account">
        Next Level
      </ion-button>
      <ion-button expand="block" class="login"> Back to Homepage </ion-button>
    </div>
  </div>
</ion-content>
