<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Verification Code</h2>
      <p>
        We have sent the OTP code to this email <br />
        ballergreatness5454&#64;gmail.com
      </p>
    </div>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-input></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ion-text-center ion-padding">
        <p class="resend-code">
          Didn’t get the code?
          <span style="color: #7b462f; cursor: pointer">Resend code</span>
        </p>
      </div>
    </div>

    <ion-button
      expand="block"
      class="create-account"
      (click)="navigateToChangePassword()"
    >
      Verify
    </ion-button>
  </div>
</ion-content>
