<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Verification Code</h2>
      <p>
        We have send the OTP code to this email <br />
        ballergreatness5454&#64;gmail.com
      </p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-input></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
