<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Test</h2>
    </div>

    <div class="question">
      <h3 class="title">6 Question and 40 mins Duration</h3>
      <img src="../../assets/icon/Group 632.svg" alt="" />
      <p class="title">Test your knowledge on how well you understand owe</p>
      <ion-button
        (click)="testQuestion()"
        expandx="block"
        class="create-account"
      >
        Start Test
      </ion-button>
    </div>
  </div>
</ion-content>
