<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Welcome Back</h2>
      <p>
        Sign in to Masoyinbo to continue <br />
        your adventure
      </p>
    </div>

    <div>
      <form action="">
        <ion-input
          label="Email Address"
          label-placement="floating"
          fill="outline"
          placeholder="Email Address"
        ></ion-input>
      </form>
    </div>
  </div>
</ion-content>
