<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"></ion-icon>
    <div class="framer">
      <h2>Set up Account</h2>
      <p>
        Register to Atupa to have access <br />
        to exclusive learning and quiz
      </p>
    </div>
    <form (ngSubmit)="register()">
      <div style="margin-top: 50px">
        <ion-input
          [(ngModel)]="firstName"
          name="firstName"
          label="First Name"
          label-placement="floating"
          fill="outline"
          placeholder="First Name"
          style="color: #505050"></ion-input>
        <br />
        <ion-input
          [(ngModel)]="lastName"
          name="lastName"
          label="Last Name"
          label-placement="floating"
          fill="outline"
          placeholder="Last Name"
          style="color: #505050"></ion-input>
        <br />
        <ion-input
          [(ngModel)]="email"
          name="email"
          label="Email Address"
          label-placement="floating"
          fill="outline"
          placeholder="Email Address"
          style="color: #505050"></ion-input>
        <br />
        <ion-input 
          [(ngModel)]="password"
          name="password"
          placeholder="Password" 
          fill="outline" 
          [type]="showPassword ? 'text' : 'password'"
          (ionInput)="checkPasswordRequirements()">
          <ion-input-password-toggle
            (click)="togglePasswordVisibility()"
            slot="end"
            color="dark"></ion-input-password-toggle>
        </ion-input>
        
        <!-- Password requirements -->
        <div class="password-requirements">
          <div class="requirement" [ngClass]="{'completed': passwordRequirements.length}">
            <span class="radio-circle"></span>
            <label>must contain at least six characters</label>
          </div>
          <div class="requirement" [ngClass]="{'completed': passwordRequirements.special}">
            <span class="radio-circle"></span>
            <label>must have a special character</label>
          </div>
        </div>

        <p *ngIf="error" class="error-message" style="color: red; font-size: 12px;">
          {{ error }}
        </p>
        
        <br />
        <ion-button 
          type="submit"
          expand="block" 
          class="create-account"
          [disabled]="loading">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading">Register</span>
        </ion-button>

        <p class="question">
          Already have an account?
          <span (click)="loginPage()" class="terms-link">Log in</span>
        </p>
      </div>
    </form>

    <div class="divider">
      <hr class="line" />
      <span class="divider-text">or register with</span>
      <hr class="line" />
    </div>

    <!-- Social Buttons Section -->
    <div class="social-buttons">
      <div class="social-button" (click)="signInWithGoogle()">
        <img src="../../assets/icon/goggle.svg " alt="" />
        <p>Google</p>
      </div>
      <div class="social-button">
        <img src="../../assets/icon/facebook 1.svg " alt="" />
        <p>Facebook</p>
      </div>
    </div>

    <p class="question" style="padding-top: 10px">
      By registering you agree to the terms and condition
      <span class="terms">
        <a href="/terms" style="text-decoration: none; color: inherit"
          >Terms <br />
          of service</a
        >
      </span>
      and
      <span class="terms">
        <a href="/privacy-policy" style="text-decoration: none; color: inherit"
          >Privacy Policy</a
        >
      </span>
    </p>
  </div>
</ion-content>
