<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Set up Account</h2>
      <p>
        Register to Masoyinbo to have access <br />
        to exclusive learning and quiz
      </p>
    </div>
    <form action="">
      <div style="margin-top: 50px">
        <ion-input
          label="Full Name"
          label-placement="floating"
          fill="outline"
          placeholder="Full Name"
          style="color: #505050"
        ></ion-input>
        <br />
        <ion-input
          label="Email Address"
          label-placement="floating"
          fill="outline"
          placeholder="Email Address"
          style="color: #505050"
        ></ion-input>
        <br />
        <ion-input placeholder="Password" fill="outline" type="password">
          <ion-input-password-toggle
            slot="end"
            color="dark"
          ></ion-input-password-toggle>
        </ion-input>
        <!-- Password requirements -->
        <div class="password-requirements">
          <div class="requirement">
            <span class="radio-circle"></span>
            <label>Must contain at least six characters</label>
          </div>
          <div class="requirement completed">
            <span class="radio-circle"></span>
            <label>Must have a special character</label>
          </div>
        </div>
        <br />
        <ion-button expand="block" class="create-account">
          Register
        </ion-button>

        <p class="question">
          Already have an account?
          <span (click)="loginPage()" class="terms-link">Log in</span>
        </p>
      </div>
    </form>

    <div class="divider">
      <hr class="line" />
      <span class="divider-text">or register with</span>
      <hr class="line" />
    </div>

    <!-- Social Buttons Section -->
    <div class="social-buttons">
      <div class="social-button">
        <img src="../../assets/icon/goggle.svg " alt="" />
        <p>Google</p>
      </div>
      <div class="social-button">
        <img src="../../assets/icon/facebook 1.svg " alt="" />
        <p>Facebook</p>
      </div>
    </div>

    <p class="question" style="padding-top: 10px">
      By registering you agree to Masoyinbo
      <span class="terms">
        <a href="/terms" style="text-decoration: none; color: inherit"
          >Terms <br />
          of service</a
        >
      </span>
      and
      <span class="terms">
        <a href="/privacy-policy" style="text-decoration: none; color: inherit"
          >Privacy Policy</a
        >
      </span>
    </p>
  </div>
</ion-content>
