<!-- subscription.page.html -->
<ion-content>
  <div class="subscription-container">
    <div class="header">
      <ion-icon
        class="back-arrow"
        src="../../assets/icon/xmark 1.svg"
      ></ion-icon>
    </div>

    <div class="illustration-container">
      <img
        src="../../assets/icon/Group 635.svg"
        alt="Subscription illustration"
      />
    </div>

    <div class="title-container">
      <h2>
        Enjoy a 7 days free trial to <br />
        explore all lesson
      </h2>
    </div>

    <div class="plans-container">
      <ion-card class="plan-card selected">
        <ion-card-content>
          <div class="plan-details">
            <span class="plan-name">Annually</span>
            <span class="plan-price">₦30,000/Year</span>
          </div>
          <p class="plan-description">
            First free 7 days then be charge the yearly fee
          </p>
        </ion-card-content>
        <div class="selection-indicator">
          <ion-icon
            src="../../assets/icon/circle-check 3.svg"
            color="success"
          ></ion-icon>
        </div>
      </ion-card>

      <ion-card class="plan-card">
        <ion-card-content>
          <div class="plan-details">
            <span class="plan-name">Monthly</span>
            <span class="plan-price">₦5,000/Month</span>
          </div>
          <p class="plan-description">
            First free 7 days then be charge the monthly fee
          </p>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="action-container">
      <ion-button expand="block" class="trial-button">
        Start 7-day free trial
      </ion-button>
    </div>
  </div>
</ion-content>
