.container {
    padding: 16px;
    background-color: #FFFFFF;
    height: 100%;

    .back-arrow {
        position: absolute;
        top: 35px;
        left: 30px;
        font-size: 22px;
        color: black;
        cursor: pointer;
    }


    .framer {
        color: #505050;
        text-align: center;

        h2 {
            font-size: 20px;
            font-weight: 800;
        }
    }

    .info-section {
        margin-top: 40px;

        .update {
            color: #ACABAB;
            font-size: 16px;
            font-weight: 400;
        }

        .head {
            font-size: 16px;
            font-weight: 700;
            color: #2E2E2E;
        }
    }
}