<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Popular Lesson</h2>
    </div>

    <div>
      <!-- Category List -->
      <!-- <ion-list>
        <ion-item *ngFor="let cat of categories" button detail lines="full">
          <ion-thumbnail slot="start">
            <img [src]="cat.image" alt="category icon" />
          </ion-thumbnail>

          <ion-label>{{ cat.name }}</ion-label>
        </ion-item>
      </ion-list> -->
    </div>
  </div>
</ion-content>
