.profile-content {
    --background: #7B462F;


    .profile-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .profile {
            text-align: center;

        }
    }
}