<ion-content class="profile-content">
  <div class="profile-section">
    <div class="profile">
      <h1 class="pro">Profile</h1>
      <img
        class="pro-image"
        src="../../assets/icon/Group 593.svg"
        alt="avatar-icon"
      />
      <p class="mise">Promise Qatar</p>
    </div>

    <div class="points-section">
      <div class="points-container">
        <div class="points-item">
          <h2>Total Points</h2>
          <div class="points-value">
            <div class="star">
              <div class="star-color">
                <img src="../../assets/icon/Vector.svg" alt="" />
              </div>
              <p>1000</p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="points-item">
          <h2>Rank</h2>
          <p class="rank">#5</p>
        </div>
      </div>
    </div>

    <!-- white-section -->

    <div class="white-section">
      <div class="menu-items">
        <div class="menu-item">
          <div class="icon-container">
            <ion-icon src="../../assets/icon/chart-simple 1.svg"></ion-icon>
          </div>
          <span>Leaderboard</span>
          <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
        </div>

        <div class="menu-item">
          <div class="icon-container">
            <ion-icon src="../../assets/icon/trophy 1.svg"></ion-icon>
          </div>
          <span>Achievement</span>
          <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
        </div>

        <div class="menu-item">
          <div class="icon-container">
            <ion-icon src="../../assets/icon/shop 1.svg"></ion-icon>
          </div>
          <span>Store</span>
          <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
        </div>

        <div class="menu-item">
          <div class="icon-container">
            <ion-icon src="../../assets/icon/gear 1.svg"></ion-icon>
          </div>
          <span>Settings</span>
          <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
