<ion-content class="profile-content">
  <div class="profile-section">
    <div class="profile">
      <h1 class="pro">Profile</h1>
      <img
        class="pro-image"
        src="../../assets/icon/Group 593.svg"
        alt="avatar-icon"
      />
      <p class="mise">Promise Qatar</p>
    </div>

    <div class="points-section">
      <div class="points-container">
        <div class="points-item">
          <h2>Total Points</h2>
          <div class="points-value">
            <div class="star">
              <div class="star-color">
                <img src="../../assets/icon/Vector.svg" alt="" />
              </div>
              <p style="font-size: 14px">1000</p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="points-item">
          <h2>Rank</h2>
          <p class="rank">#5</p>
        </div>
      </div>
    </div>

    <!-- white-section -->

    <div class="white-section">
      <div class="menu-items">
        <div
          class="menu-item"
          *ngFor="let item of menuItems"
          [routerLink]="item.link"
        >
          <div class="icon-container">
            <ion-icon [src]="item.icon"></ion-icon>
          </div>
          <span>{{ item.title }}</span>

          <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
