<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Forgot Password</h2>
      <p>
        Enter email to send the OTP code <br />
        to reset your password
      </p>
    </div>

    <form action="" class="email-form">
      <div style="padding-top: 20px">
        <ion-input
          label="Email Address"
          label-placement="floating"
          fill="outline"
          placeholder="Email Address"
          style="color: #505050"
        ></ion-input>
      </div>
    </form>

    <ion-button
      expand="block"
      class="create-account"
      (click)="navigateToVerification()"
    >
      Send OTP
    </ion-button>
  </div>
</ion-content>
