.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Full height to use flex properly */
    padding: 16px;
    /* Add padding to give some space on the sides */

    .back-arrow {
        position: absolute;
        top: 35px;
        left: 30px;
        font-size: 22px;
        color: black;
        cursor: pointer;
    }

    .framer {
        color: #505050;
        text-align: center;
        flex: 0 1 auto;
        /* Allow the framer section to take the required space */

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
        }

        h2 {
            font-size: 20px;
            font-weight: 700;
        }
    }

    .email-form {
        flex-grow: 1;
        /* The form will take up the remaining space */
        padding-top: 20px;
        margin-bottom: 50px;
        /* Add some space before the button */
    }



    .create-account {
        --background: #7B462F;
        --color: white;
        height: 52px;
        text-transform: none;
        --border-radius: 10px;
        font-weight: 700;
        margin-bottom: 50px;
        --box-shadow: none;
    }
}