<ion-content>
  <div class="header-background">
    <div class="container">
      <ion-icon
        (click)="navigateBack()"
        name="arrow-back-outline"
        class="back-arrow"
      ></ion-icon>

      <ion-icon class="back-arrow" name="bookmark-outline"></ion-icon>
    </div>
  </div>
  <!-- White-section  -->
  <div class="White-container">
    <h1 class="owe">Owe</h1>
    <div class="first-header">
      <div class="image-section">
        <img
          src="../../assets/icon/bookopenreader.svg"
          alt="book-icon"
          class="book"
        />
        <div>
          <h1 class="title">Lesson</h1>
          <p class="sub-title">3 section</p>
        </div>
      </div>
      <div class="image-section1">
        <img src="../../assets/icon/user 1.svg" alt="book-icon" class="book" />
        <div>
          <h1 class="title">Enrolled</h1>
          <p class="sub-title">1045 people</p>
        </div>
      </div>
    </div>

    <div>
      <h1 class="describe">Description</h1>
      <p class="note">
        Learn about yoruba adage, learn what are the meaning, understand when to
        apply it. There are lot examples to learn about it and when to use it
        doing conversation
      </p>
    </div>
  </div>
</ion-content>
