<ion-content>
  <div class="header-background">
    <div class="container">
      <ion-icon
        (click)="navigateBack()"
        name="arrow-back-outline"
        class="back-arrow"
      ></ion-icon>

      <ion-icon class="back-arrow" name="bookmark-outline"></ion-icon>
    </div>
  </div>
  <!-- White-section  -->
  <div class="White-container">
    <h1 class="owe">Owe</h1>
    <div class="first-header">
      <div class="image-section">
        <img
          src="../../assets/icon/bookopenreader.svg"
          alt="book-icon"
          class="book"
        />
        <div>
          <h1 class="title">Lesson</h1>
          <p class="sub-title">3 section</p>
        </div>
      </div>
      <div class="image-section1">
        <img src="../../assets/icon/user 1.svg" alt="book-icon" class="book" />
        <div>
          <h1 class="title">Enrolled</h1>
          <p class="sub-title">1045 people</p>
        </div>
      </div>
    </div>

    <div>
      <h1 class="describe">Description</h1>
      <p class="note">
        Learn about yoruba adage, learn what are the meaning, understand when to
        apply it. There are lot examples to learn about it and when to use it
        doing conversation
      </p>
    </div>

    <div>
      <div class="setion">
        <h1 class="inti">Section</h1>
        <div style="display: flex; gap: 2px; align-items: center">
          <img
            src="../../assets/icon/clock 1.svg"
            alt=""
            width="16px"
            height="16px"
          />
          <p>10hrs</p>
        </div>
      </div>

      <div class="setion" *ngFor="let item of sectionItem">
        <!-- Left side (Number + Text) -->
        <div class="left-block">
          <p class="keys">
            <ng-container *ngIf="item.locked; else showNumber">
              <ion-icon src="../../assets/icon/lock.svg"></ion-icon>
            </ng-container>
            <ng-template #showNumber> {{ item.icon }} </ng-template>
          </p>
          <div>
            <h1 class="inti">{{item.title}}</h1>
            <p class="duration">1 hrs 30 mins</p>
          </div>
        </div>

        <span [ngClass]="item.locked ? 'locked-btn' : 'view-btn'">
          {{ item.locked ? 'view' : item.view }}
        </span>
      </div>

      <ion-button expand="block" class="create-account"> Enroll </ion-button>
    </div>
  </div>
</ion-content>
