<ion-content class="full-screen-content">
  <div class="full-screen-container">
    <div class="home-img">
      <div class="home-africa">
        <img src="../../assets/images/Group 2.png" alt="Africa" />
      </div>
    </div>

    <div class="content-wrapper">
      <div class="knowledge-div">
        <h1 class="title">
          Test your Knowledge and<br />
          Learn Yoruba Culture
        </h1>
        <p class="subtitle">
          Explore different culture, heritage and have<br />
          understanding about yoruba culture
        </p>
      </div>

      <div class="button-container">
        <ion-button expand="block" class="create-account">
          Register
        </ion-button>
        <ion-button (click)="navigateToLogin()" expand="block" class="login">
          Sign in
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
