<ion-content class="full-screen-content">
  <div class="full-screen-container">
    <div class="home-img">
      <div class="home-africa">
        <img src="../../assets/images/Group 2.png" alt="Africa" />
      </div>
    </div>

    <div class="content-wrapper">
      <div class="knowledge-div">
        <h1 class="title">Set up Account</h1>
        <p class="subtitle">
          Register to Masoyinbo to have access to exclusive <br />
          learning and quiz
        </p>
      </div>

      <div class="button-container">
        <ion-button
          (click)="navigateToSignup()"
          expand="block"
          class="create-account"
        >
          Register
        </ion-button>
        <ion-button (click)="navigateToLogin()" expand="block" class="login">
          Sign in
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
