<ion-content>
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Privacy Policy</h2>
    </div>

    <div class="info-section">
      <p class="update">Last updated: June 12 2024</p>
      <div>
        <p>
          This Privacy Policy explains how we collect, use, disclose, and
          safeguard your information when you visit our website
          [yourwebsite.com] and use our services.
        </p>

        <h2 class="head">1. Information We Collect</h2>
        <p>We may collect the following types of information:</p>
        <ul>
          <li>
            Personal Information: Name, email address, phone number, and other
            contact details when voluntarily provided.
          </li>
          <li>
            Usage Data: Information on how you interact with our website, such
            as IP address, browser type, and pages visited.
          </li>
          <li>
            Cookies &amp; Tracking Technologies: We use cookies to enhance your
            experience and analyze site traffic.
          </li>
        </ul>

        <h2 class="head">2. How We Use Your Information</h2>
        <p>We may use your information to:</p>
        <ul>
          <li>Provide and manage our services</li>
          <li>Improve our website and user experience</li>
          <li>Respond to inquiries and customer service request</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
