<ion-content [fullscreen]="true">
  <div class="container">
    <ion-icon
      (click)="navigateBack()"
      name="arrow-back-outline"
      class="back-arrow"
    ></ion-icon>
    <div class="framer">
      <h2>Settings</h2>
    </div>

    <div>
      <ion-list>
        <ion-item
          [routerLink]="cat.link"
          *ngFor="let cat of subPages"
          button
          detail
          lines="full"
        >
          <!-- <img [src]="cat.arrow" alt="category icon" /> -->

          <ion-label>{{ cat.name }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
